{# templates/loan/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Funded Loans{% endblock %}

{% block body %}
    <h1>Funded Loans</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Activity</th>
            <th scope="col">Loan Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for loan in funded_loans %}
            <tr>
                <th scope="row">{{ loan.id }}</th>
                <td>{{ loan.name }}</td>
                <td>{{ loan.activity }}</td>
                <td>{{ loan.loanAmount }}</td>
                <td><a href="{{ path('loan', {'id': loan.id}) }}">View Details</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if page_count > 1 %}
        {{ include("_pagination.html.twig") }}
    {% endif %}
{% endblock %}