{# templates/loan/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Loan #{{ loan.id }}{% endblock %}

{% block body %}
    <h1>Loan #{{ loan.id }}</h1>
    <table class="table table-striped">
        <tr>
            <th scope="row">Name</th>
            <td>{{ loan.name }}</td>
        </tr>
        <tr>
            <th scope="row">Activity</th>
            <td>{{ loan.activity }}</td>
        </tr>
        <tr>
            <th scope="row">Sector</th>
            <td>{{ loan.sector }}</td>
        </tr>
        <tr>
            <th scope="row">Use</th>
            <td>{{ loan.use }}</td>
        </tr>
        <tr>
            <th scope="row">Lender Count</th>
            <td>{{ loan.lenderCount }}</td>
        </tr>
        <tr>
            <th scope="row">Loan Amount</th>
            <td>{{ loan.loanAmount }}</td>
        </tr>
    </table>
    {% if lenders is not empty %}
        <h2>Lenders</h2>

        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Lender Id</th>
            <th scope="col">Lender Name</th>
            <th scope="col">Total Owed</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for lender in lenders %}
            <tr>
                <th scope="row">{{ lender.lenderId }}</th>
                <td>{{ lender.name }}</td>
                <td>{{ amount_owed_per_lender }}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}